.client__list {
   display: flex;
   justify-content: center;
}

.client__item:not(:last-child) {
   margin-right: 30px;
}

.client__link {
   display: block;
   width: 170px;
   height: 92px;
   padding: 16px 32px;
   border: 1px solid var(--icon-color);
   border-radius: 4px;
   fill: var(--icon-color);
   transition: var(--transition-fill), var(--transition-border-color);
}

.client__link:hover,
.client__link:focus {
   fill: var(--accent-color);
   border-color: var(--accent-color);
}

.client__link .client__img {
   fill: var(--icon-color);
   transition: var(--transition-fill);
}

.client__link:hover .client__img,
.client__link:focus .client__img {
   fill: var(--accent-color);
}