.specialization {
   padding-top: 0px;
}

.specialization__list {
   display: flex;
   justify-content: center;
}

.specialization__list .item:not(:last-child) {
   margin-right: 30px;
}

.specialization__thumb {
   position: relative;
}

.specialization__title {
   position: absolute;
   bottom: 0;
   right: 0;
   padding: 27px;
   width: 100%;
   height: 70px;
   font-weight: 700;
   font-size: 14px;
   line-height: calc(16 / 14);
   letter-spacing: 0.03em;
   text-transform: uppercase;
   color: var(--accent-color-text);

   background: rgba(47, 48, 58, 0.8);
   text-align: center;
}