@mixin flexible() {
  display: flex;
  justify-content: center;
}
@mixin align() {
  display: flex;
  align-items: center;
}

@mixin flex_jus-c_cen() {
   display: flex;
   justify-content: center;
}

@mixin flex_al-i_cen() {
   display: flex;
   align-items: center;
}