$mainFont: "Roboto";
$secondaryFont: "Raleway";

$primary-title: #212121;
$primary-text: #757575;
$accent-color: #2196f3;
$accent-hover: #188ce8;
$primary-white: #ffffff;
$hero-footer-backgraund: #2f303a;
$background-color-second: #f5f4fa;
$borders-color: #afb1b8;


$transition-function: 250ms cubic-bezier(0.4, 0, 0.2, 1);

$phone: 480px;
$tablet: 768px;
$desktop: 1200px;
